In [5]:
#data types
x = 5
y = "asdsa"
z = 10.555
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [6]:
#more complex data types

#LIST - ordered, changeable, duplicities, heterogenous
mylist = ["a", "b", "c", "a"]
print(mylist)

mylist2 = [1,2,3]
mylist3 = [1, "asda", 1.0222]

print(mylist2)
print(mylist3)

#indexing
mylist[0]
print(mylist[0:500])
print(mylist[0:5])

#change
mylist[0] = "aa"
print(mylist)

#append vs insert
mylist.append("end")
print(mylist)
mylist.insert(1, "second")
print(mylist)

#remove vs pop
#...as expected

#iterations
for element in mylist:
    print(element)
#using index
for index in range(len(mylist)):
    print(mylist[index]
)

#other methods .....
#sort, copy, join, ...

['a', 'b', 'c', 'a']
[1, 2, 3]
[1, 'asda', 1.0222]
['a', 'b', 'c', 'a']
['a', 'b', 'c', 'a']
['aa', 'b', 'c', 'a']
['aa', 'b', 'c', 'a', 'end']
['aa', 'second', 'b', 'c', 'a', 'end']
aa
second
b
c
a
end
aa
second
b
c
a
end

In [7]:
#TUPLE - ordered, unchangeable, duplicities, heterogenous
mytuple = ("first", "second", "3", "second")
mytuple2 = (1, 2 ,3, "four")

mytuple[0] = "1"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#SET - unordered, unchangeable - but allows insert and remove, non-duplicites, heterogenous
myset = {"1", "two", 3, "two"}
print(myset) #duplicites are removed!

#indexing - DOES NOT EXIST
#USE IF or IN
for element in myset:
    print(element)    
print("1" in myset)
print(1 in myset)

#add, remove - without index, of course

{'1', 3, 'two'}
1
3
two
True
False

In [ ]:
#DICTIONARIES - ordered (python >3.7), changeable, non-duplicities (duplicities are rewritten), heterogenous

mydist = {"one" : 1, "two" : 2, "three" : 3}
print(mydist)
mydist2 = {"one" : 1, "one" : 2}
print(mydist2)

mydist3 = {"int": 1, "float" : 2.14, "string" : "mystring", "list" : ["el1", "el2", "el3"]}
print(mydist3)

#access
allkeys = mydist3.keys()
print(allkeys)
print(mydist3["list"])
#print(string(allkeys[2]))

#check if key exists
if "list" in mydist3:
    print("key exists")
else:
    print("key does not exist")

#iteration
for el in mydist3:
    print("key-" + el)

allkeys3 = list(mydist3)
print(type(allkeys3))
print(allkeys3[0])
print(mydist3["int"])

{'one': 1, 'two': 2, 'three': 3}
{'one': 2}
{'int': 1, 'float': 2.14, 'string': 'mystring', 'list': ['el1', 'el2', 'el3']}
dict_keys(['int', 'float', 'string', 'list'])
['el1', 'el2', 'el3']
key exists
key-int
key-float
key-string
key-list
<class 'list'>
int
1

In [ ]:
#REGEX
import re
mytext = "lorem 5 impsum dolor sit amet"
myout = re.search("\d+\s+i", mytext)
if myout:
    print("match")
else:
    print("nomatch")

mynew = re.sub("\d+\s+", "6 o", mytext)
print(mynew)

match
lorem 6 oimpsum dolor sit amet

In [8]:
#PANDAS - dataframe as is presented in R :-)
import pandas as pd

#SERIES - like a column in R dataframe
c1 = [1, 7, 2]
mycol1 = pd.Series(c1)
print(mycol1)

#rownames
mycol2 = pd.Series(c1, index=["one", "two", "three"])
print(mycol2)

#indexing
print(mycol1[1])
print(mycol2["two"])

# OR we can transform dictionaries into series where keys will be labels

#DATAFRAME - as a collection of SERIES
mydata = {"first": [1,2,3],
        "second": ["b1", "b2", "b3"]}
mydf = pd.DataFrame(mydata)
print(mydf)

0    1
1    7
2    2
dtype: int64
one      1
two      7
three    2
dtype: int64
7
7
   first second
0      1     b1
1      2     b2
2      3     b3

In [9]:
#indexing in dfs
#show columns
mydf[["first"]]
#multiple column indexing
mydf[["first", "second"]]
#or using loc
mydf.loc[:,["first"]]
mydf.loc[0:2,["first"]]
mydf.loc[0:1]
mydf.iloc[1, 1] #iloc like an "index location"
#or
mydf.loc[[0, 1]] #row one and two

   first second
0      1     b1
1      2     b2

In [13]:
#dataset mtcars from R example datasets
mydf = pd.read_csv("mtcars.csv")
#show mpq
mydf.loc[:,["model", "mpg"]]
#higher than 20
si = mydf.loc[:,["mpg"]] > 20
si["mpg"]
mydf.loc[si["mpg"]]
#or more simply
mydf[mydf['mpg'] > 20]
#note - using loc we adress rows, without loc -> columns

#show only mazda cars, using re
mydf[mydf["model"].str.contains("^mazda", case=False)]

#data types of columns
print(mydf.dtypes)
#indexing - values
print(mydf.values[:,1])
print(mydf.columns[0])
print(mydf.index[0])

#basic stats
import numpy as np
np.mean(mydf["mpg"])
np.sum(mydf["mpg"])
np.var(mydf["mpg"])

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object
[21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2
 10.4 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4
 15.8 19.7 15.0 21.4]
model
0

35.188974609374995

In [55]:
#NA values in python
mydataNA = pd.read_csv("mtcars_na.csv")
#which model contains nan in "vs"
mydataNA[mydataNA["vs"].isna()][["model"]]


#at least one na
#for repetition, numpys repeat function fits well
flag = np.repeat(False, len(mydataNA.columns))
for icol in range(0,len(mydataNA.columns)):
    flag[icol] = mydataNA.iloc[:,icol].isna().any()    
print(flag)
#which contains na?
print(mydataNA.columns[flag])
#replace the nas with the min value of the corresponding column
for nacol in mydataNA.columns[flag]:
    minval = np.min(mydataNA[nacol])
    mydataNA[nacol] = mydataNA[nacol].fillna(minval)
print(mydataNA)

[False False False False False False False False  True  True  True False]
Index(['vs', 'am', 'gear'], dtype='object')
                  model   mpg  cyl   disp   hp  drat     wt   qsec   vs   am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46  0.0  1.0
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02  0.0  1.0
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61  1.0  1.0
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44  1.0  0.0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02  0.0  0.0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22  1.0  0.0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84  0.0  0.0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00  1.0  0.0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90  1.0  0.0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30  1.0  0.0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90  1.0  0.0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40  0.0  0.0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60  0.0  0.0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00  0.0  0.0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98  0.0  0.0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82  0.0  0.0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42  0.0  0.0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47  1.0  1.0
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52  1.0  1.0
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90  1.0  1.0
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01  1.0  0.0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87  0.0  0.0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30  0.0  0.0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41  0.0  0.0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05  0.0  0.0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90  1.0  1.0
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70  0.0  1.0
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90  1.0  1.0
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50  0.0  1.0
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50  0.0  1.0
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60  0.0  1.0
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60  1.0  1.0

    gear  carb
0    4.0     4
1    4.0     4
2    4.0     1
3    3.0     1
4    3.0     2
5    3.0     1
6    3.0     4
7    4.0     2
8    4.0     2
9    4.0     4
10   4.0     4
11   3.0     3
12   3.0     3
13   3.0     3
14   3.0     4
15   3.0     4
16   3.0     4
17   4.0     1
18   4.0     2
19   4.0     1
20   3.0     1
21   3.0     2
22   3.0     2
23   3.0     4
24   3.0     2
25   4.0     1
26   5.0     2
27   5.0     2
28   5.0     4
29   5.0     6
30   5.0     8
31   4.0     2

In [60]:
#now lets try linear regression
#import liner regression from scikit-learn
from sklearn.linear_model import LinearRegression
#for visualization
import matplotlib.pyplot as plt

#crate an instantce of the class
linear_regressor = LinearRegression()
?linear_regressor.fit

Signature: linear_regressor.fit(X, y, sample_weight=None)
Docstring:
Fit linear model.

Parameters
----------
X : {array-like, sparse matrix} of shape (n_samples, n_features)
    Training data.

y : array-like of shape (n_samples,) or (n_samples, n_targets)
    Target values. Will be cast to X's dtype if necessary.

sample_weight : array-like of shape (n_samples,), default=None
    Individual weights for each sample.

    .. versionadded:: 0.17
       parameter *sample_weight* support to LinearRegression.

Returns
-------
self : object
    Fitted Estimator.
File:      c:\users\fmalinka\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages\sklearn\linear_model\_base.py
Type:      method