In [3]:
#data types
x = 5
y = "asdsa"
z = 10.555
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [19]:
#more complex data types

#LIST - ordered, changeable, duplicities, heterogenous
mylist = ["a", "b", "c", "a"]
print(mylist)

mylist2 = [1,2,3]
mylist3 = [1, "asda", 1.0222]

print(mylist2)
print(mylist3)

#indexing
mylist[0]
print(mylist[0:500])
print(mylist[0:5])

#change
mylist[0] = "aa"
print(mylist)

#append vs insert
mylist.append("end")
print(mylist)
mylist.insert(1, "second")
print(mylist)

#remove vs pop
#...as expected

#iterations
for element in mylist:
    print(element)
#using index
for index in range(len(mylist)):
    print(mylist[index]
)

#other methods .....
#sort, copy, join, ...

['a', 'b', 'c', 'a']
[1, 2, 3]
[1, 'asda', 1.0222]
['a', 'b', 'c', 'a']
['a', 'b', 'c', 'a']
['aa', 'b', 'c', 'a']
['aa', 'b', 'c', 'a', 'end']
['aa', 'second', 'b', 'c', 'a', 'end']
aa
second
b
c
a
end
aa
second
b
c
a
end

In [22]:
#TUPLE - ordered, unchangeable, duplicities, heterogenous
mytuple = ("first", "second", "3", "second")
mytuple2 = (1, 2 ,3, "four")

mytuple[0] = "1"

TypeError: 'tuple' object does not support item assignment

In [27]:
#SET - unordered, unchangeable - but allows insert and remove, non-duplicites, heterogenous
myset = {"1", "two", 3, "two"}
print(myset) #duplicites are removed!

#indexing - DOES NOT EXIST
#USE IF or IN
for element in myset:
    print(element)    
print("1" in myset)
print(1 in myset)

#add, remove - without index, of course

{'1', 3, 'two'}
1
3
two
True
False

In [36]:
#DICTIONARIES - ordered (python >3.7), changeable, non-duplicities (duplicities are rewritten), heterogenous

mydist = {"one" : 1, "two" : 2, "three" : 3}
print(mydist)
mydist2 = {"one" : 1, "one" : 2}
print(mydist2)

mydist3 = {"int": 1, "float" : 2.14, "string" : "mystring", "list" : ["el1", "el2", "el3"]}
print(mydist3)

#access
allkeys = mydist3.keys()
print(allkeys)
print(mydist3["list"])
#print(string(allkeys[2]))

#check if key exists
if "list" in mydist3:
    print("key exists")
else:
    print("key does not exist")

#iteration
for el in mydist3:
    print("key-" + el)

allkeys3 = list(mydist3)
print(type(allkeys3))
print(allkeys3[0])
print(mydist3["int"])

{'one': 1, 'two': 2, 'three': 3}
{'one': 2}
{'int': 1, 'float': 2.14, 'string': 'mystring', 'list': ['el1', 'el2', 'el3']}
dict_keys(['int', 'float', 'string', 'list'])
['el1', 'el2', 'el3']
key exists
key-int
key-float
key-string
key-list
<class 'list'>
int
1

In [48]:
#REGEX
import re
mytext = "lorem 5 impsum dolor sit amet"
myout = re.search("\d+\s+i", mytext)
if myout:
    print("match")
else:
    print("nomatch")

mynew = re.sub("\d+\s+", "6 o", mytext)
print(mynew)

match
lorem 6 oimpsum dolor sit amet

In [2]:
#PANDAS - dataframe as is presented in R :-)
import pandas as pd

#SERIES - like a column in R dataframe
c1 = [1, 7, 2]
mycol1 = pd.Series(c1)
print(mycol1)

#rownames
mycol2 = pd.Series(c1, index=["one", "two", "three"])
print(mycol2)

#indexing
print(mycol1[1])
print(mycol2["two"])

# OR we can transform dictionaries into series where keys will be labels

#DATAFRAME - as a collection of SERIES
mydata = {"first": [1,2,3],
        "second": ["b1", "b2", "b3"]}
mydf = pd.DataFrame(mydata)
print(mydf)

0    1
1    7
2    2
dtype: int64
one      1
two      7
three    2
dtype: int64
7
7
   first second
0      1     b1
1      2     b2
2      3     b3

In [3]:
#indexing in dfs
#show columns
mydf[["first"]]
#multiple column indexing
mydf[["first", "second"]]
#or using loc
mydf.loc[:,["first"]]
mydf.loc[0:2,["first"]]
mydf.loc[0:1]
mydf.iloc[1, 1] #iloc like an "index location"
#or
mydf.loc[[0, 1]] #row one and two

   first second
0      1     b1
1      2     b2

In [21]:
#dataset mtcars from R example datasets
mydf = pd.read_csv("mtcars.csv")
#show mpq
mydf.loc[:,["model", "mpg"]]
#higher than 20
si = mydf.loc[:,["mpg"]] > 20
si["mpg"]
mydf.loc[si["mpg"]]
#or more simply
mydf[mydf['mpg'] > 20]
#note - using loc we adress rows, without loc -> columns

#show only mazda cars, using re
mydf[mydf["model"].str.contains("^mazda", case=False)]

#data types of columns
print(mydf.dtypes)
#indexing - values
print(mydf.values[:,1])
print(mydf.columns[0])
print(mydf.index[0])

#basic stats

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object
[21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2
 10.4 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4
 15.8 19.7 15.0 21.4]
model
0

In [ ]:
#NA values in python.....